{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Catégorie : Film</h1>
        <p>Il y a 3 projets dans cette catégorie :</p>
        <section class="container">
            <h1>La liste de nos Catégories </h1>
        </section>
        <section class="doctor">
            <div class="container">
                {% for category in categories %}
                    {% include 'category/_thumbail.html.twig' with {'category': category} %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
