{% extends 'base.html.twig' %}

{% block title %}Fund My Project!{% endblock %}

{% block body %}

        <div class="container">
            <h1>Bienvenue sur Fund My Project</h1>
            <p>Aidez-nous à créer de nouveaux projets chaque jour !</p>
            <div class="row">

                    <article class="col-4">
                        <div class="card">
                            {% for project in projects %}
                                {% include 'project/_thumbnail.html.twig' with {'project': project} %}
                            {% endfor %}
                        </div>
                    </article>


            </div>
        </div>




{% endblock %}
